.home-showcase{
    padding: 0 12%;
}
.home-showcase > div {
    margin-bottom: 2rem;
    border-radius: .5rem;
}
.home-showcase h2{
    font-size: 40px;
    text-transform: uppercase;
}
.home-showcase h3{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.large-case{
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: url(../assets/assets/home/desktop/image-speaker-zx9.png), url(../assets/assets/home/desktop/pattern-circles.svg), hsl(22, 65%, 57%);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position-y: 20px;
    background-position-x: 12.5%;
    border-radius: .5rem;
}
.large-case .text-cont {
    width: 35%;
    color: white;
}
.large-case h2{
    margin-bottom: 2rem;
}
.large-case p{
    margin-bottom: 3rem;
}
.small-case {
    height: 400px;
}
.small-case .text-cont{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 12.5%;
}
.a{
    background-image: url(../assets/assets/home/desktop/image-speaker-zx7.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.b{
    display: flex;
    justify-content: space-between;
}
.b .img-cont{
    width: 49%;
    height: 100%;
    background-image: url(../assets/assets/home/desktop/image-earphones-yx1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .5rem;
}
.b .text-cont{
    width: 49%;
    background-color: hsl(0, 0%, 95%);
    border-radius: .5rem;
}

@media screen and (max-width: 1100px){
    .home-showcase{
        padding: 2rem 8%;
    }
    .large-case{
        height: 600px;
        align-items: flex-end;
        background: url(../assets/assets/home/mobile/image-speaker-zx9.png), url(../assets/assets/home/desktop/pattern-circles.svg), hsl(22, 65%, 57%);
        background-repeat: no-repeat;
        background-size: 180px 225px, cover;
        background-position-x: 50%;
        background-position-y: 2.5rem, -20rem;
    }
    .large-case .text-cont {
        width: 80%;
        color: white;
        text-align: center;
        margin: 0 auto 5rem;
    }
    .small-case .text-cont{
        padding: 0 0 0 8%;
    }
    .a{
        background-position: 60%;
    }
}

@media screen and (max-width: 600px){
    .large-case {
        height: 650px;
    }
    .b{
        height: 400px;
        flex-direction: column;
    }
    .b .img-cont{
        width: 100%;
        margin-bottom: 2rem;
    }
    .b .text-cont{
        width: 100%;
        padding: 2rem 0 2rem 12.5%;

    }
}